<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <% if article.user_id == @current_user.id %>
        <td><%= article.title %></td>
        <td id ="article_text"><%= article.text %></td>
        <td><%= button_to 'View', article_path(article.id), method: :get%></td>
        <td><%= button_to 'Edit', edit_article_path(article.id), method: :get %></td>
        <td><%= button_to 'Delete', article_path(article.id), method: :delete %></td>
        <% end %>
    </tr>
    <% end %>
</table>